[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
	tag = 1.0.1
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
	tag = 3.4
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
